#header {
    background-color: #491fdf;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Hubballi', cursive;
}

#nameAndTitle {
    background-color: #fff;
    width: 570px;
    margin: 0 auto;
    text-align: center;
}

#nameAndTitle h1,
h2 {
    margin: 0;
}

h1,
h2,
h3 {
    text-transform: uppercase;
}
#container{
    display: grid;
    grid-template-columns: 32% auto;
    grid-column-gap: 20px;
}
#contact {
    list-style: none;
}

#contact i {
    width: 30px;
    color: #491fdf;
}
#contact a{
    text-decoration: none;
}
#sidebar,#content{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.card h3{
    font-family: 'Hubballi', cursive;
}
.card{
    font-family: 'Montserrat';
    border: 1px solid #491fdf;
    border-radius: 15px;
    padding: 20px;
}
